%h1 Listing electorates

%table
  %tr
    %th Title
    %th Description
    %th Polygon
    %th
    %th
    %th

  - @electorates.each do |electorate|
    %tr
      %td= electorate.title
      %td= electorate.description
      %td= electorate.polygon
      %td= link_to 'Show', electorate
      %td= link_to 'Edit', edit_electorate_path(electorate)
      %td= link_to 'Destroy', electorate, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Electorate', new_electorate_path
