%h1 Listing postcode_lookups

%table
  %tr
    %th Postcode
    %th Name
    %th
    %th
    %th

  - @postcode_lookups.each do |postcode_lookup|
    %tr
      %td= postcode_lookup.postcode
      %td= postcode_lookup.name
      %td= link_to 'Show', postcode_lookup
      %td= link_to 'Edit', edit_postcode_lookup_path(postcode_lookup)
      %td= link_to 'Destroy', postcode_lookup, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Postcode lookup', new_postcode_lookup_path
