.container
	.wood
		.board
			.row
				.span6.offset3
					%h1 Multiple Electorates Exist
					%p This postcode has multiple representatives. Please select from below.

					%p#notice= notice

					%ul
						- @postcodes.each do |p|
							%li
								= link_to electorate_path(p.name.downcase) do
									= "#{p.name} #{p.postcode}"