= form_for @rail do |f|
  -if @rail.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rail.errors.count, "error")} prohibited this rail from being saved:"
      %ul
        - @rail.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :generate
    = f.text_field :generate
  .field
    = f.label :scaffold
    = f.text_field :scaffold
  .field
    = f.label :ConsInfo
    = f.text_field :ConsInfo
  .field
    = f.label :constituency
    = f.text_field :constituency
  .field
    = f.label :data_key
    = f.text_field :data_key
  .field
    = f.label :data_value
    = f.text_area :data_value
  .actions
    = f.submit 'Save'
