%h1 Listing rails

%table
  %tr
    %th Generate
    %th Scaffold
    %th Consinfo
    %th Constituency
    %th Data key
    %th Data value
    %th
    %th
    %th

  - @rails.each do |rail|
    %tr
      %td= rail.generate
      %td= rail.scaffold
      %td= rail.ConsInfo
      %td= rail.constituency
      %td= rail.data_key
      %td= rail.data_value
      %td= link_to 'Show', rail
      %td= link_to 'Edit', edit_rail_path(rail)
      %td= link_to 'Destroy', rail, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Rail', new_rail_path
