%p#notice= notice

%p
  %b Generate:
  = @rail.generate
%p
  %b Scaffold:
  = @rail.scaffold
%p
  %b Consinfo:
  = @rail.ConsInfo
%p
  %b Constituency:
  = @rail.constituency
%p
  %b Data key:
  = @rail.data_key
%p
  %b Data value:
  = @rail.data_value

= link_to 'Edit', edit_rail_path(@rail)
\|
= link_to 'Back', rails_path
