= form_for @constituency do |f|
  -if @constituency.errors.any?
    #error_explanation
      %h2= "#{pluralize(@constituency.errors.count, "error")} prohibited this constituency from being saved:"
      %ul
        - @constituency.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :main_name
    = f.check_box :main_name
  .actions
    = f.submit 'Save'
