.container
	.wood
		.board
			.row
				.span10.offset1
					%h1 Listing members

					%table
						%tr
							%th House
							%th Name
							%th Constituency
							%th Party

						- @members.each do |member|
							%tr
								%td= (member.house == 0 ? "House of Reps" : "Senate")
								%td= "#{member.first_name} #{member.last_name}"
								%td= member.constituency
								%td= member.party
					%br

					= link_to 'New Member', new_member_path
