.container
	.wood
		.board
			.row
				.span2.offset1
					%h1="Listing members#{' in the '+@party.name if @party}"
				.span7.offset1
					-@parties.each do |party|
						.span3
							%p
								=link_to(party.name, {:controller => :members, :action => :party, :id => party.party})
.container
	.wood
		.board
			.row
				- @members.each do |member|
					.span3.offset1
						%h1="#{member.first_name} #{member.last_name}"
						/%p="(#{member.party})"
						%p
							=link_to("(#{member.party})", {:controller => :members, :action => :party, :id => member.party})
						
						%h2
							=link_to("The member for #{member.constituency}", {:controller => :members, :action => :show, :id => member.aphkey})
						%br

			= link_to 'New Member', new_member_path
