.container
	.wood
		.board
			.row
				.span3.offset1
					.frame
						%image.border{:src => "http://202.2.94.230/images/mpborder.png"}
						%image.portrait{:src => "http://parlinfo.aph.gov.au/parlInfo/download/handbook/allmps/#{@member.aphkey}/upload_ref_binary/#{@member.aphkey}.JPG"}
					%h1="#{@member.first_name} #{@member.last_name}"
					%p="(#{@member.party})"
					
					.frame
						%image.border{:src => "http://202.2.94.230/images/mpborder.png"}
						.map
					%h2="The member for #{@member.constituency}"
				.span7
					%dl
						%dt Speeches
						%dd="We've indexed #{@speeches.count} speeches from the Member for #{@member.constituency}"
						%dt Vocab
						%dd
							/ = wordcounts(@member.aphkey).inspect
							-wordcounts(@member.aphkey).each do |word, count|
								%span= word